.collage {
    margin-top: var(--spacing-6);
}

.collageTitle {
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
    font-weight: bold;
    margin-bottom: var(--spacing-4);
}

.collageSubtitle {
    margin-top: var(--spacing-4);
    font-size: var(--text-md);
    line-height: var(--leading-sm);
    margin-bottom: var(--spacing-2);
}

.collageForm {
    padding: var(--spacing-3);
    background-color: var(--color-text-primary);
}

.collageLabel {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-bg);
    font-size: var(--text-md);
    line-height: var(--leading-base);
}

.collageInput {
    margin-top: var(--spacing-2);
    border: none;
    padding: var(--spacing-3);
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-sm);
    line-height: 14px;
    margin-bottom: var(--spacing-3);
}

.collageInput:last-of-type {
    margin-bottom: 24px;
}


.collageButton {
    width: 100%;
    padding: 9px 18px;
    border-radius: 16px;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-base);
    font-weight: 600;
    line-height: var(--leading-xs);
    cursor: pointer;
    transition: all 0.3s ease;
}

.collageButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.collageButton:active {
    transform: scale(0.98) translateY(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}