.footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: var(--spacing-5) 16px 16px 16px;
    background-color: #0C1821;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1025px) {
    .footer {
        padding: var(--spacing-6) max(var(--page-padding), calc((100vw - var(--max-width)) / 2 + var(--page-padding)));
        gap: 32px;
    }

    .info {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacing-4);
        max-width: var(--max-width);
    }
}

.title {
    font-size: 14px;
    line-height: 20px;
    color: #CBCBCB;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.copy,
.rights,
.org {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #CBCBCB;
}
