.collageCell {
    background-color: #2B2B2B;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(82, 79, 79, 1);
    border-radius: 4px;
}

.collageCell.exporting {
    border: none;
    border-radius: 0;
}

.collageCellNumber {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-base);
    color: var(--color-bg);
}